@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-cream text-gray-800 font-sans;
    background-image: radial-gradient(theme(colors.sage) 1px, transparent 1px);
    background-size: 20px 20px;
  }
}

